*{
    background-color: #e7e3a0; 
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

:root{
--font:"Cooper Black", Gadget, sans-serif;
--font2:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
--fontColor: #300000;
}

section{
    border-bottom-width: 9px;
    border-bottom-style: double;
    border-bottom-color: #de6f82;
}


header{
    display: flex;
    background-color: #66c0d2;
    width: 100%;
    height: auto;
    font-family: var(--font);
    color: var(--fontColor);
}

#name{
    width: 80%;
    background-color: transparent;
    font-size: 110px;
}

ul{
    display: flex;
    background-color: transparent;
    align-items: flex-end;
    list-style-type: none;
}

#hyperLinks{
    padding-right:20px;
    font-size: 45px;
    color: var(--fontColor);
    text-decoration: none;
    background-color: #66c0d2;
}


#pictureBio{
    display: flex;   
}


#pictureContainer{
    margin: 5px;
    margin-bottom: 10px;
    width: 35%;
    height: 70%;
    border: 13px;
    border-style: ridge;
    border-color: #66C0D2;
    padding: 5px;
    background-color: #de6f82; 
}

#profilePicture{
    width: 100%;
}


#bioTitle{
    font-family: var(--font);
    color: var(--fontColor);
    font-size: 55px;
}

#bioText{
    font-family: var(--font2);
    font-weight: 700;
    color: var(--fontColor);
    font-size: 30px;
}

#headerTitle{
    font-size: 45px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    text-decoration: underline double #66c0d2;
    font-family: var(--font);
    color: var(--fontColor);
}

#horiseon{
    display: flex;
    justify-content: center;
}

#horiseonPicture{
    margin: 10px 0px 0px 0px;
    width: 750px;
}

#horiseonPicture:hover{
    -webkit-box-shadow: 5px 5px 15px 6px rgba(48,0,0,0.8); 
    box-shadow: 5px 5px 15px 6px rgba(48,0,0,0.8);
}

#horiseonCaption{
    display: flex;
    justify-content: center;
    font-size: 25px;
    color: var(--fontColor);
    background-color: transparent;
}

p{
    background-color: transparent;
}

#otherProjects{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 35px;
    margin-bottom: 35px;
}

#projectPictures{
    height: 350px;
    width: 350px;
}

#projectPictures:hover{
    -webkit-box-shadow: 5px 5px 15px 6px rgba(48,0,0,0.8); 
    box-shadow: 5px 5px 15px 6px rgba(48,0,0,0.8);
}

#contactList{
    display: flex;
    justify-content: space-evenly;
    margin-top: 2em;
    margin-bottom: 4em;
}

#myEmail{
    margin-left: 3.5em;
    font-family: var(--font2);
    color: var(--fontColor);
    font-size: 40px;
}

#myCell{
    font-family: var(--font2);
    color: var(--fontColor);
    font-size: 40px;
}


footer{
    background-color: #66c0d2;
    padding: 1em;
    width: 100%;
    font-family: var(--font);
    color: var(--fontColor);
    font-size: 30px;
    text-align: center;
}

@media screen and (max-width: 992px) {
    header{
        width: 100%;
    }
    #name{
        width: 60%;
    }

    #hyperlinks{
        font-size: 35px;
    }

    #projectPictures{
        width: 250px;
        height: 250px;
    }
}

@media screen and (max-width: 768px) {
    #name{
        width:40%;
        font-size: 60px;
    }
}

@media screen and (max-width: 576px) {
    #name{
        font-size: 35px;
    }

    #hyperlinks{
        margin: 0px 0px 0px 0px;
        font-size: 30px;
    }

    #horiseonPicture{
        width: 400px;
    }

    #otherProjects{
        flex-wrap: wrap;
    }

    #contactList{
        justify-content: stretch;
    }

    #myEmail{
        font-size: 30px;
    }

    #myCell{
        font-size: 30px;
    }
}